# Industry energy demand

### Import necessary modules

In [1]:
# Check if we are running the notebook directly, if so move workspace to parent dir
import sys
import os
currentdir = os.path.abspath(os.getcwd())
if os.path.basename(currentdir) != 'DemandMappingZambia':  
  sys.path.insert(0, os.path.dirname(currentdir))
  os.chdir('..')
  print(f'Move to {os.getcwd()}')

Move to C:\Users\amillot\PycharmProjects\DemandMappingZambia

In [2]:
### Activate geospatial_env first

# Numeric
import numpy as np
import pandas as pd
import math

# System
import os
import shutil
from IPython.display import display, Markdown, HTML, FileLink, FileLinks

# Spatial
import geopandas as gpd
import json
import pyproj
from shapely.geometry import Point, Polygon, MultiPoint
from shapely.wkt import dumps, loads
from shapely.ops import nearest_points
from pyproj import CRS
import ogr, gdal, osr
#import fiona


# Mapping / Plotting
from functools import reduce
#import datapane as dp 
#!datapane login --token="9bde41bfbc4ad14119e32086f9f06d2e5db1d5b8"
import folium
from folium.features import GeoJsonTooltip
from folium.plugins import BeautifyIcon
from folium.plugins import HeatMap
import branca.colormap as cm
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
%matplotlib inline

%matplotlib inline

In [3]:
#import geopandas as gpd   # Note that you require geopandas version >= 0.7 that incluse clip see here for installation (https://gis.stackexchange.com/questions/360127/geopandas-0-6-1-installed-instead-of-0-7-0-in-conda-windows-10#)
import os
import fiona
import ipywidgets as widgets
from IPython.display import display
from rasterstats import zonal_stats
import rasterio
from geojson import Feature, Point, FeatureCollection
import rasterio.fill
from shapely.geometry import shape, mapping
import json
#from earthpy import clip    clip has been deprecated to geopandas
#import earthpy.spatial as es
import numpy as np
import tkinter as tk
from tkinter import filedialog, messagebox
import gdal
import datetime
import warnings
import pandas as pd
import scipy.spatial
warnings.filterwarnings('ignore')

#import contextily as ctx
import h3 as h3
from shapely.ops import unary_union
from shapely.geometry.polygon import Polygon

root = tk.Tk()
root.withdraw()
root.attributes("-topmost", True)

pd.options.display.float_format = '{:,.4f}'.format

In [4]:
from utils import processing_raster, finalizing_rasters, spatialjoinvectors

### Define directories and dataset names

In [5]:
### Define directories and dataset names
ROOT_DIR = os.path.abspath(os.curdir)
in_path = ROOT_DIR
out_path = ROOT_DIR + "/Outputs/"

## mines layer
mines_path = in_path + "/Industry/Data/mines/"
# mines_name = 'mines_zambia.gpkg'
mines_name = 'mineral_facilities_zambia_Dec_2023.gpkg'

In [6]:
## Coordinate and projection systems
crs_WGS84 = CRS("EPSG:4326")    # Originan WGS84 coordinate system
crs_proj = CRS("EPSG:32736")    # Projection system for the selected country -- see http://epsg.io/ for more info

### Define area of interest

In [7]:
try: area
except NameError: area = "COUNTRY"
# area = "Copperbelt"

### Import layers to be used

In [8]:
hexagons = gpd.read_file(out_path + "h3_grid_at_hex_7.shp")

In [9]:
grid = hexagons

In [10]:
## mines
# mines = gpd.read_file(mines_path + mines_name)

In [11]:
# ## admininstrative boundary
admin_gdf = gpd.read_file(out_path + "area_gdf.gpkg")

# Part 1. Extract GIS-based attributes

## Extract information from vector layers

Extract sum production of mines in each cluster (hex)

In [12]:
## Run the extraction
#grid.drop(['Commodity Production - tonne (tonnes)'], axis=1, inplace=True) ##uncomment if you want to rerun
# columnNameMines = "Commodity Production - tonne (tonnes)"
#columnNameMines = 'Ore processed (tonnes)'
# grid[columnNameMines] = grid[columnNameMines].fillna(0)
# grid.head(4)
# grid[columnNameMines].sum()

columnNameMines = 'Energy Elec (TJ)'
file = mines_path+mines_name
grid, mines = spatialjoinvectors("EnergyMines", columnNameMines, admin_gdf, crs_WGS84, grid, "sum", file)

# Part 2. Compute demand

In [13]:
# Enegery balance from UN Stats
energyBalance_path = "EnergyBalance/"
file_energyBalance = "UNSD+DF_UNData_EnergyBalance+1.0_Zambia.csv"
eb = pd.read_csv(energyBalance_path + file_energyBalance)
code_elec = "B07_EL"
code_ind_nFM=  "B29_1214a"
code_ind_mining =  "B33_1214e"

elec_nonFerrousMetals_TJ = eb.loc[(eb['COMMODITY'] == code_elec) & (eb['TRANSACTION'] == code_ind_nFM) & (eb['TIME_PERIOD'] == 2019 ), 'OBS_VALUE'] #TJ
elec_mining_TJ = eb.loc[(eb['COMMODITY'] == code_elec) & (eb['TRANSACTION'] == code_ind_mining) & (eb['TIME_PERIOD'] == 2019 ), 'OBS_VALUE'] #TJ
elec_nonFerrousMetals_TJ = pd.to_numeric(elec_nonFerrousMetals_TJ.str.replace(',', '')) # convert to numeric and remove commas
elec_nonFerrousMetals_TJ = elec_nonFerrousMetals_TJ.iloc[0]
elec_mining_TJ = pd.to_numeric(elec_mining_TJ.str.replace(',', '')) # convert to numeric and remove commas
elec_mining_TJ = elec_mining_TJ.iloc[0]

elec_nonFerrousMetals = elec_nonFerrousMetals_TJ /(3600) *10**6 # (3.6e-6) #conversion in MWh
elec_mining = elec_mining_TJ /(3600) *10**6 #conversion in MWh

print("total statistical nonFerrousMetals electricity consumption:",f"{elec_nonFerrousMetals_TJ:,.1f}", "TJ or ", f"{elec_nonFerrousMetals/10**6:,.1f}", "TWh")
print("total statistical mining electricity consumption:",f"{elec_mining_TJ:,.1f}", "TJ or ", f"{elec_mining/10**6:,.1f}", "TWh")
print("total statistical nonFerrousMetals and mining electricity consumption:",f"{elec_nonFerrousMetals_TJ+elec_mining_TJ:,.1f}", "TJ or ", f"{(elec_nonFerrousMetals+elec_mining)/10**6:,.1f}", "TWh")

total statistical nonFerrousMetals electricity consumption: 22,897.0 TJ or  6.4 TWh
total statistical mining electricity consumption: 818.0 TJ or  0.2 TWh
total statistical nonFerrousMetals and mining electricity consumption: 23,715.0 TJ or  6.6 TWh

In [14]:
# Assess total energy consumption and total production

#total_production = mines[columnNameMines].str.replace(',', '').astype(float).sum()
total_elec_energy_consum = mines[columnNameMines].sum() # total 

# total_production = sum(grid[columnNameMines]) # ton
# energycons_perton = elec_nonFerrousMetals/total_production # MWh/t

coverage_elec_nonFe_mining = total_elec_energy_consum/(elec_nonFerrousMetals_TJ+elec_mining_TJ)

# print("total production:", f"{total_production/10**3:,.0f}", "kt")
print("total calculated energy consumption:", f"{total_elec_energy_consum:,.1f}", "TJ or ", f"{total_elec_energy_consum/3600:,.1f}", "TWh")

print("Coverage energy in total statistical nonFerrousMetals and mining electricity consumption:", f"{coverage_elec_nonFe_mining*100:,.0f}", "%")

#print("total industry electricity consumption:",f"{elec_nonFerrousMetals/10**6:,.1f}", "TWh")
#print("energy per tonne of ore:", f"{energycons_perton:,.0f}", "MWh/t")

total calculated energy consumption: 23,565.7 TJ or  6.5 TWh
Coverage energy in total statistical nonFerrousMetals and mining electricity consumption: 99 %

In [15]:
#Allocate to each hexagon the industry energy consumption
#grid["IndEnergy"]=grid[columnNameMines]*energycons_perton
# adjust energy consumption if coverage is the whole country
if area == "COUNTRY":
    grid["IndEne_TJ"]=grid[columnNameMines]/coverage_elec_nonFe_mining # TJ
else:
    grid["IndEne_TJ"]=grid[columnNameMines] # TJ
grid.head(3)

,hexagons,lon,lat,index_righ,NAME_1,id,geometry,Energy Elec (TJ),IndEne_TJ
0,875534089ffffff,27.7667,-12.8546,1.0000,Copperbelt,1,"POLYGON ((27.77946 -12.85905, 27.76939 -12.869...",NaN,NaN
1,875536800ffffff,27.8960,-13.7010,1.0000,Copperbelt,2,"POLYGON ((27.90878 -13.70559, 27.89862 -13.715...",NaN,NaN
2,875530cc2ffffff,26.9772,-13.3073,1.0000,Copperbelt,3,"POLYGON ((26.98992 -13.31174, 26.97981 -13.321...",NaN,NaN

In [16]:
total_industryenergy = grid["IndEne_TJ"].sum()
#print("Industry electricity consumption:",f"{total_industryenergy/10**6:,.0f}", "TWh")
print("Industry electricity consumption in",f"{area}", ":",f"{total_industryenergy/3600:,.1f}", "TWh")

Industry electricity consumption in COUNTRY : 4.2 TWh

In [17]:
grid.to_file(out_path + 'ind_energy_map.shp', index=False)
grid.head(3)

,hexagons,lon,lat,index_righ,NAME_1,id,geometry,Energy Elec (TJ),IndEne_TJ
0,875534089ffffff,27.7667,-12.8546,1.0000,Copperbelt,1,"POLYGON ((27.77946 -12.85905, 27.76939 -12.869...",NaN,NaN
1,875536800ffffff,27.8960,-13.7010,1.0000,Copperbelt,2,"POLYGON ((27.90878 -13.70559, 27.89862 -13.715...",NaN,NaN
2,875530cc2ffffff,26.9772,-13.3073,1.0000,Copperbelt,3,"POLYGON ((26.98992 -13.31174, 26.97981 -13.321...",NaN,NaN

In [18]:
grid[columnNameMines]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
5109   NaN
5110   NaN
5111   NaN
5112   NaN
5113   NaN
Name: Energy Elec (TJ), Length: 5114, dtype: float64